@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #81c644;
}

.wrapper {
    margin-top: 5%;
}

.wrapper h1 {
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

h3 {
    text-align: center;
}

.words {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.each_word {
    background: #fff;
    margin: 5px 5%;
    margin-bottom: 100px;
    word-wrap: 300px;
    padding: 15px;
    Line-height: 20px;
    color: #8e8b8b;
    position: relative;
    width: 500px;
}

.words .each_word h3 {
    color: #81c644;
    font-size: 80px;
    margin-top: 50px;
    margin: 20px 5px 10px 5px;
}

.words .each_word p {
    text-align: left;
    font-size: 20px;
}

span.box {
    background-color: #6d635d;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin: 0 3px 0 0;
    padding: 0px 1px 1px 1px; !important;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
}

.words .each_word .each_word_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.words .each_word .each_word_img img {
    width: 100px;
    height: 100px;
    padding: 0px;
}

.meaning {
    display: inline;
}

.left {
    margin: 20px 0 10px 0;
}


.sentence .right .en {
    margin-bottom: 2px;
    font-size: 18px;
    color:rgb(9, 10, 51);
}

.sentence .right .jp {
    margin-bottom: 5px;
    font-size: 14px; 
}

button {
    background: transparent;
    border: none;
}
  
.pronunciation{
    display: inline;
    text-align: center;
}

.pron_en_text {
    margin: 0;
    padding: 10px;
}

.pron_en {
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.pron_jp {
    margin: 0;
    padding: 10px;
    font-size: 17px;
}

.graph {
    padding: 5px;
}

.middle_box {
    display: flex;
    justify-content: space-between;
}

.middle_box .pronunciation {
    flex-basis:66%;
}

.middle_box .graph {
    width:33%;
}