*{
    margin: 0;
    padding: 0;
}

body {
    background: #81c644;
}

.title {
    text-align: center; 
}

h1 {
    /* font-family: 'Allura', cursive; */
    font-size: 35px;
    margin-bottom: 70px;
    margin-top: 20px;   
}

.words {
    display: flex;
    justify-content: center;
}

.each_word {    
    background: #fff;
    padding: 20px;
    width: 480px;
}

.each_word_img {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);  

    width: 130px;
    padding: 10px;
    border-radius:45%;

    background: #fff;
}

.each_word h3 {
    color: #81c644;
    text-align: center;
    /* font-size: 9vw; */
    font-size: 70px;
    margin: 10px 5px 10px;
}

span.box {
    background-color: #6d635d;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 1px 2px;
    border-radius: 5px;
}

/* Meaning and example sentences */

.left {
    margin: 20px 0 5px 0;
}

.sentence .en {
    font-size: 18px;
    margin-bottom: 2px;
    color:rgb(9, 10, 51);
    line-height: 20px;
}

.sentence .jp {
    font-size: 16px;
    margin-bottom: 10px;
    color:rgb(80, 79, 80);
}

/* Pronunciation + statistics */
  
.middle_box {
    display: flex;
    justify-content: space-between;
}

.middle_box div {
    border: 1px #ccc solid;    
}

.middle_box .pronunciation {
    flex-basis:66%;
    text-align: center;
}

.middle_box .graph {
    width:33%;
}

.pron_en_text {
    margin: 0;
    padding: 10px;
}

button {
    border-radius: 40%;
    padding: 5px;
    width: 60px;
    height: 60px;
    background: transparent;
}

.pron_en {
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.pron_jp {
    margin: 0;
    padding: 10px;
    font-size: 17px;
}

.graph {
    padding: 5px;
}

@media only screen and (max-width: 480px) {
    .each_word h3 {
        font-size: 50px;
        margin: 30px 5px 10px;
    }
    h1 {        
        font-size: 25px;
    }
}

@media only screen and (max-width: 375px) {
    .words {
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .title {
        overflow-x: scroll;
        overflow-y: scroll; 
    }
}